<h1>Confirmar pedido</h1>

<form action="/dashboard/confirm/request_car"
    method="POST">

    <table style="width:100%">

    <tr>

        <td>

            <div>
                <label>
                    <%=product.brand %>
                </label>
                <label for="<%=product.name%>">
                    <%=product.name %>
                </label>
            </div>
    

            <div>
                <label>
                    $<%=product.price %>
                </label>
            </div>

            <div>
                <label>
                    <%=product.description %>
                </label>
            </div>

        </td>

        <th>

            <div>
                <img src="<%=product.imageUrl%>" />
            </div>


        </th>
   

    </tr>

</table>


<div>
    <button type="submit"
        class="btn btn-primary btn-block">Alquilar carro</button>
</div>
