<h1>Dashboard</h1>
<p> Welcome <%= user.name %></p>

<form action="/dashboard/confirm"
    method="POST">

<a href="/dashboard/user_panel">User Panel</a>

<div>
    <h3>Basico</h3>
</div>


<table style="width:100%">
    <tr>
      <th>opcion</th>
      <th>Caracteristicas</th> 
      <th>Modelo</th>
    </tr>
<!-- </table> -->

<!-- <table style="width:100%"> -->

<% product.standart.forEach(function(standart){ %>

    <tr>

        <th>
            <div>
            <input type="radio"
                    id="<%=standart.name%>"
                    name="car"
                    value="<%=JSON.stringify(standart)%>">
            </div>
        </th>

        <th>

            <div>
                <label>
                    <%=standart.brand %>
                </label>
                <label for="<%=standart.name%>">
                    <%=standart.name %>
                </label>
            </div>
    

            <div>
                <label>
                    $<%=standart.price %>
                </label>
            </div>

            <div>
                <label>
                    <%=standart.description %>
                </label>
            </div>

        </th>

        <th>

            <div>
                <img src="<%=standart.imageUrl%>" />
            </div>


        </th>
   

    </tr>

<% }) %>

</table>

<h3>De lujo</h3>
<table style="width:100%">
    <tr>
      <th>opcion</th>
      <th>Caracteristicas</th> 
      <th>Modelo</th>
    </tr>

<% product.luxury.forEach(function(luxury){ %>

    <tr>

        <th>
            <div>
            <input type="radio"
                    id="<%=luxury.name%>"
                    name="car"
                    value="<%=JSON.stringify(luxury)%>">
            </div>
        </th>

        <th>

            <div>
                <label>
                    <%=luxury.brand %>
                </label>
                <label for="<%=luxury.name%>">
                    <%=luxury.name %>
                </label>
            </div>
    

            <div>
                <label>
                    $<%=luxury.price %>
                </label>
            </div>

            <div>
                <label>
                    <%=luxury.description %>
                </label>
            </div>

        </th>

        <th>

            <div>
                <img src="<%=luxury.imageUrl%>" />
            </div>


        </th>
   

    </tr>

<% }) %>

</table>

<div>
    <button type="submit"
        class="btn btn-primary btn-block">Confirmar</button>
</div>

<p><a href="/users/logout">Logout</a></p>
