<h1>Registro</h1>
<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">
<div>
    <label for="name">Nombre: </label>
    <input
      type="name"
      name="name"
      placeholder="Introduce nombre"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  
</div>
<div>
    <label for="email">Correo electronico:</label>
    <input
      type="email"
      name="email"
      placeholder="Introduce el correo"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div >
    <label for="password">Contraseña: </label>
    <input
      type="password"
      name="password"
      placeholder="Crea una contraseña"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <label for="password2">Confirmar contraseña: </label>
    <input
      type="password"
      name="password2"
      placeholder="Crea una contraseña"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Registrarse
  </button>
</form>
<p >Posees una cuenta? <a href="/users/login">Inicia sesión</a></p>
