<h1>Panel de usuario</h1>

<div>
    <label>
        Nombre:
    </label>
    <label>
        <%=user.name %>
    </label>
</div>

<div>
    <label>
        Correo:
    </label>
    <label>
        <%=user.email %>
    </label>
</div>

<div>
    <label>
        Fecha de creación:
    </label>
    <label>
        <%=user.date %>
    </label>
</div>

<p><h2>Autos pedidos</h2></p>

<table style="width:100%">
    <tr>
      <th>Caracteristicas</th> 
      <th>Modelo</th>
    </tr>

<% user.product.forEach(function(car){ %>

    <tr>

        <th>

            <div>
                <label>
                    <%=car.brand %>
                </label>
                <label for="<%=car.name%>">
                    <%=car.name %>
                </label>
            </div>
    

            <div>
                <label>
                    $<%=car.price %>
                </label>
            </div>

            <div>
                <label>
                    <%=car.description %>
                </label>
            </div>

        </th>

        <th>

            <div>
                <img src="<%=car.imageUrl%>" />
            </div>


        </th>
   

    </tr>

<% }) %>

</table>

<a href="/dashboard">Ir al dashboard</a>
